.archivement,
.archivement * {
  box-sizing: border-box;
}
.archivement {
  margin-top: 40px;
  background: #1d5b37;
  padding: 40px 104px 40px 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.statistic-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 239px;
  position: relative;
}
.statistic-number {
  color: var(--base-white, #ffffff);
  text-align: center;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 64px;
  font-weight: 600;
  position: relative;
}
.statistic-label {
  color: var(--gray-200, #eaecf0);
  text-align: center;
  font-family: "PlusJakartaSans-Italic", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  opacity: 0.8;
  position: relative;
}



