.service,
.service * {
  box-sizing: border-box;
}
.service {
  background: #ffffff;
  padding: 80px 104px 80px 104px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  
}
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.footer-title {
  color: #1d5b37;
  text-align: left;
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 80px;
  font-weight: 500;
  position: relative;
  width: 460px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 851px;
  position: relative;
}
.footer-text {
  color: var(--base-black, #000000);
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 52px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.footer-text2 {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.container-benefits {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.cultivation-actors {
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.feature-number {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.feature-title {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.minus {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.vuesax-linear-minus {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.cultivation-actors2 {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.feature-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.feature-number2 {
  color: var(--base-black, #000000);
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
.feature-title2 {
  color: var(--base-black, #000000);
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
.feature-description {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 24px;
  line-height: 39px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.add {
  border-radius: 49px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.vuesax-linear-add {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.image {
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  height: 649px;
  position: relative;
  object-fit: cover;
}
.title3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.feature-title3 {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: "PlusJakartaSans-Medium", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.vuesax-linear-minus2 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-minus3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-linear-minus4 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
